.ibox-tools a i.done {
  color: #1ab394;
}

#page-wrapper {
  margin: 0 0 0 0;
}

.ibox-content input {
  font-size: 13px;
}

.ibox-content table td i {
  display:block;
  text-align:center;
  vertical-align: middle;
}

