<div class="table table-bordered table-hover table-condensed">
  <div class="table-row table-header">
    <div class="table-row-item">
      Input
    </div>
    <div class="table-row-item">
      Operator
    </div>
    <div class="table-row-item">
      Value(s)
    </div>
    <div class="table-row-item">
      Output
    </div>
    <div class="table-row-item">
    </div>
  </div>
  <div *ng-for="#rule of rules">
    <table-row [rule]="rule" [rules]="rules"></table-row>
  </div>
</div>

<button class="btn btn-default" (click)="addUser()">Add row</button>


