<!-- Input -->
<td>
  <span [hidden]="editable">
    {{ showInput(condition.input) || missingText }}
  </span>
  <span [hidden]="!editable">
    <select class="form-control">
      <option *ng-for="#inputOption of inputOptions" value="{{inputOption.value}}">{{inputOption.text}}</option>
    </select>
  </span>
</td>
<!-- Operator -->
<td>
  <span [hidden]="editable">
    {{ condition.operator || missingText }}
  </span>
  <span [hidden]="!editable">
    <select class="form-control">
      <option *ng-for="#operatorOption of operatorOptions" value="{{operatorOption.value}}" selected="{{rule.operator === operatorOption.value ? 'selected' : ''}}">{{operatorOption.value}}</option>
    </select>
  </span>
</td>
<!-- Value(s) -->
<td>
  <span [hidden]="editable">
    {{ condition.values || missingText }}
  </span>
  <span [hidden]="!editable">
    <select class="form-control">
      <option *ng-for="#operatorOption of operatorOptions" value="{{operatorOption.value}}">{{operatorOption.text}}</option>
    </select>
  </span>
</td>
<!-- Output -->
<td>
  <span [hidden]="editable">
    {{ condition.output || missingText }}
  </span>
  <span [hidden]="!editable">
    <select class="form-control">
      <option *ng-for="#outputOption of outputOptions" value="{{outputOption.value}}">{{outputOption.text}}</option>
    </select>
  </span>
</td>
<!-- Controls -->
<td>
  <div class="buttons" [hidden]="editable">
    <button class="btn btn-primary" (click)="toggleEdit()">Edit</button>
    <button class="btn btn-danger" (click)="removeUser($index)">X</button>
  </div>  
  <div class="buttons" [hidden]="!editable">
    <button type="submit" (click)="toggleEdit()" class="btn btn-primary">
      Save
    </button>
  </div>
</td>