  <section class="widget">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><i class="fa fa-cogs"></i> {{rule.name}}</h5>
        <div class="ibox-tools">
          <a [hidden]="rule.editing" (click)="toggleEdit()" href="#">
            <i class="fa fa-edit fa-lg"></i>
          </a>
          <a [hidden]="!rule.editing" (click)="toggleEdit()" href="#">
            <i class="fa fa-check-square-o fa-lg done"></i>
          </a>
          <a class="collapse-link" (click)="toggleCollapse($event)">
            <i class="fa fa-chevron-down"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-xs-7">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Conditions Expression</th>
                  <th [hidden]="!rule.editing"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="#condition of rule.conditions; #i=index" style="margin-bottom: 10px;">
                <td>{{i+1}}</td>
                  <!-- Input -->
<!--               <td>
                <span [hidden]="rule.editing">
                  {{condition.input || missingText }}
                </span>
                <span [hidden]="!rule.editing">
                  <select class="form-control" name="input" (change)="updateInputValue(i,$event)">
                    <option *ngFor="#inputOption of rule.inputs" value="{{inputOption}}" selected="{{condition.input === inputOption ? 'selected' : ''}}">{{inputOption}}</option>
                  </select>
                </span>
              </td>
              Operator
              <td>
                <span [hidden]="rule.editing">
                  {{ condition.operator || missingText }}
                </span>
                <span [hidden]="!rule.editing">
                  <select class="form-control" name="operator" (change)="updateInputValue(i,$event)">
                    <option *ngFor="#operatorOption of rule.operators" value="{{operatorOption}}" selected="{{condition.operator === operatorOption ? 'selected' : ''}}">{{operatorOption}}</option>
                  </select>
                </span>
              </td> -->
              <!-- Value(s) -->
              <td>
                <span [hidden]="rule.editing" [attr.class]="condition.expression ? '' : 'text-danger' ">
                  {{ condition.expression || missingText }}
                </span>
                <span [hidden]="!rule.editing">
                  <input #condition.expression value="{{condition.expression}}" name="expression" (change)="updateInputExpression(i,$event)" />
                </span>
              </td>
              <!-- Controls -->
              <td [hidden]="!rule.editing">
                <div class="buttons">
                  <button class="btn btn-danger btn-xs" (click)="removeCondition(i)">X</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-5">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Actions Expression</th>
              <th [hidden]="!rule.editing"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="#action of rule.actions; #i=index" style="margin-bottom: 10px;">
            <td>{{i+1}}</td>
              <!-- Output -->
              <!-- <td> -->
<!--                 <span [hidden]="rule.editing">
                  {{ output.output || missingText }}
                </span>
                <span [hidden]="!rule.editing">
                  <select class="form-control" name="output" (change)="updateOutputValue(i,$event)">
                    <option *ngFor="#outputOption of outputOptions" value="{{outputOption}}" selected="{{output.output === outputOption ? 'selected' : ''}}">{{outputOption}}</option>
                  </select>
                </span>
              </td>
              <td>
                <span>
                  =
                </span>
              </td>  -->      
              <!-- Value(s) -->
              <td>
                <span [hidden]="rule.editing" [attr.class]="action.expression ? '' : 'text-danger' ">
                  {{ action.expression || missingText }}
                </span>
                <span [hidden]="!rule.editing">
                  <input #action.expression value="{{action.expression}}" name="expression" (change)="updateOutputExpression(i,$event)" />
                </span>
              </td>       
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</section>