
<div class="panel panel-info">
  <div class="panel-heading">Rule Title</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-8">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <td><strong>Input<strong></td>
              <td>Operator</td>
              <td>Value(s)</td>
              <td [hidden]="!rule.editing"></td>
            </tr>
          </thead>
          <tbody>
            <tr *ng-for="#condition of rule.conditions; #i=index" style="margin-bottom: 10px;">
              <!-- Input -->
              <td>
                <span [hidden]="rule.editing">
                  {{condition.input || missingText }}
                </span>
                <span [hidden]="!rule.editing">
                  <select class="form-control" name="input" (change)="updateInputValue(i,$event)">
                    <option *ng-for="#inputOption of rule.inputs" value="{{inputOption}}" selected="{{condition.input === inputOption ? 'selected' : ''}}">{{inputOption}}</option>
                  </select>
                </span>
              </td>
              <!-- Operator -->
              <td>
                <span [hidden]="rule.editing">
                  {{ condition.operator || missingText }}
                </span>
                <span [hidden]="!rule.editing">
                  <select class="form-control" name="operator" (change)="updateInputValue(i,$event)">
                    <option *ng-for="#operatorOption of rule.operators" value="{{operatorOption}}" selected="{{condition.operator === operatorOption ? 'selected' : ''}}">{{operatorOption}}</option>
                  </select>
                </span>
              </td>
              <!-- Value(s) -->
              <td>
                <span [hidden]="rule.editing">
                  {{ condition.values || missingText }}
                </span>
                <span [hidden]="!rule.editing">
                  <input #condition.values value="{{condition.values}}" name="values" (change)="updateInputValue(i,$event)" />
                </span>
              </td>
              <!-- Controls -->
              <td [hidden]="!rule.editing">
                <div class="buttons">
                  <button class="btn btn-danger btn-xs" (click)="removeCondition(i)">X</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <span class="buttons">
          <span class="buttons" [hidden]="rule.editing">
            <a class="btn btn-default" (click)="toggleEdit()" href="#" role="button" >Edit</a>
          </span>
          <span class="buttons" [hidden]="!rule.editing">
            <a class="btn btn-default btn-success" (click)="toggleEdit()" href="#" role="button" >Done</a>
          </span>
          <a class="btn btn-default" (click)="addCondition()" href="#" role="button">Add Row</a>
        </span>
      </div>

      <div class="col-xs-4">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <td><strong>Output<strong></td>
              <td></td>
              <td>Value</td>
            </tr>
          </thead>
          <tbody>
            <tr *ng-for="#output of rule.outputs; #i=index" style="margin-bottom: 10px;">
              <!-- Output -->
              <td>
                <span [hidden]="rule.editing">
                  {{ output.output || missingText }}
                </span>
                <span [hidden]="!rule.editing">
                  <select class="form-control" name="output" (change)="updateOutputValue(i,$event)">
                    <option *ng-for="#outputOption of outputOptions" value="{{outputOption}}" selected="{{output.output === outputOption ? 'selected' : ''}}">{{outputOption}}</option>
                  </select>
                </span>
              </td>
              <!-- = -->
              <td>
                <span>
                  =
                </span>
              </td>       
              <!-- Value(s) -->
              <td>
                <span [hidden]="rule.editing">
                  {{ output.value || missingText }}
                </span>
                <span [hidden]="!rule.editing">
                  <input #output.value value="{{output.value}}" name="value" (change)="updateOutputValue(i,$event)" />
                </span>
              </td>       
            </tr>
          </tbody>
        </table>
        <span class="buttons">
          <a class="btn btn-default" (click)="addOutput()" href="#" role="button">Add Row</a>
        </span>
      </div>
    </div>
  </div>
</div>